<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin https://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.transferwhise" version="2.9.0-nightly" class="de.willuhn.jameica.hbci.transferwise.Plugin" shared="true">

  <description>Meta-Plugin, welches Hibiscus um XML-RPC-Funktionalitaet erweitert</description>
  <url>https://www.willuhn.de/products/hibiscus/releases/nightly/hibiscus.xmlrpc-2.9.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/hibiscus</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.8.0+">
    <import plugin="hibiscus" version="2.8.23+"/>
  </requires>

  <classfinder>
    <include>hibiscus\.transferwhise\.jar</include>
    <include>.*\.class</include>
  </classfinder>

</plugin>
